.layout{
  display: grid;
  grid-template-columns: 10% 40% 50%;
  grid-template-rows: auto auto auto;

  grid-gap: 10px;
  padding: 10px;
  background: lightblue;
}


.layout__element{
  display: grid;
  place-items: center;
  background: green;
}