.horizontal-container{
  display: flex;
  flex-direction: row;
}

.vertical-container{
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.vertical-item{
  text-align: center;
}

mat-form-field, mat-checkbox {
  margin-left: 10px;
  width: 250px;
}
