<div [formGroup]="form">
  <mat-form-field appearance="fill">
    <mat-label>DESCRIPTION:</mat-label>
    <input
      matInput
      formControlName=description
    />
  </mat-form-field>
</div>


<button mat-icon-button color="accent" *ngFor="let ratingId of ratingArr;index as i" [id]="'star_'+i" (click)="onClick(i+1)">
  <mat-icon>
    {{showIcon(i)}}
  </mat-icon>
</button>
<mat-error *ngIf="starCount == null || starCount == 0">
  Star count is <strong>required</strong> and cannot be zero
</mat-error>
