<div [formGroup]="formGroup">
  <button mat-stroked-button type="button" (click)="addAdditionDetails()">Add property</button>
  <div [formArrayName]="formArrayName"
       *ngFor="let _ of arrays.controls; let i = index"
  >
    <div [formGroupName]="i">
      <mat-form-field>
        <app-star-rating [formControl]="getFormControl(i)"></app-star-rating>
      </mat-form-field>
      <button mat-icon-button color="warn" (click)="removeAdditionDetails(i)">
        <mat-icon>remove</mat-icon>
      </button>
    </div>
  </div>
</div>
