<div class="container">
  <form
    [formGroup]="formGroup"
    (ngSubmit)="updateGivenCV(formGroup)"
  >
    <app-form-field
      [formGroup]="formGroup"
      title="Firstname"
      [formName]="FIRSTNAME">
    </app-form-field>

    <app-form-field
      [formGroup]="formGroup"
      title="Lastname"
      [formName]="LASTNAME">
    </app-form-field>

    <app-form-field
      [formGroup]="formGroup"
      title="Email"
      [isValid]="isEmailValid()"
      [formName]="EMAIL"
      [errorMsg]="getEmailErrorMessage()">
    </app-form-field>

    <app-form-field
      [formGroup]="formGroup"
      title="Phon number"
      [formName]="PHONE">
    </app-form-field>

    <app-dynamic-form-field [formGroup]="formGroup" [formArrayName]="ADDITION_DETAILS"
                            [controlsConfig]="dynamicObject"
    ></app-dynamic-form-field>

    <button mat-stroked-button [disabled]="!formGroup.valid" type="submit">
      Save
    </button>
  </form>
</div>

